*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
}

header{
    background-color: #ff6900;
    color: white;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10rem;
    font-size: 0.5rem;
    z-index: 2;
}

ul{
    list-style-type: none;
    display: flex;
    font-weight: bold;
}

ul>li{
    margin-right: 0.5rem;
}

.profile>i{
    margin-left: 0.5rem;
}

div.logo-img>img{
    height: 20px;
}


/* MAIN */

.articles-container{
    padding: 4rem 10rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.article{   
    display: block;
    position: relative;
    width: calc((100% / 3) - 0.5rem);
}

.img-product>img{    
    width: 100%;    
}

.img-product .img-main,
.img-product:hover .img-hover{
    display: inline-block;
}

.img-product .img-hover,
.img-product:hover .img-main{
    display: none;
}



p.brand{
    font-size: 0.6rem;
    line-height: 0.65rem;
}

p.product-name{
    font-size: 0.8rem;
    font-weight: 600;
}

p.price{
    line-height: 0.6rem;
}

span.old-price{
    font-size: 0.6rem;
    line-height: 0.65rem;
    text-decoration: line-through;
}

span.discounted-price{
    font-size: 0.6rem;
    line-height: 0.65rem;
    color: red;
    font-weight: bold;
}

div.favourite{
    background-color: white;
    font-size: 1.4rem;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0 0.65rem;
}

div.more-info{
    position: absolute; 
    bottom: 70px;
    font-size: 0.4rem;
    color: white;
    font-weight: bold;
}

div.discount, div.eco{   
    display: inline-block;
    padding: 0.1rem 0.3rem;
}

div.discount{    
    background-color: red;    
}

div.eco{
    background-color: green;
}